@font-face{
    font-family: pt-sans;
    src: url(../fonts/ptsansnarrow.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: pt-sans;
    src: url(../fonts/ptsansnarrowbold.woff2);
    font-weight: 700;
    font-style: normal;
}



body{
    margin: 0;
    font-family: pt-sans;
    text-transform: uppercase;
}

header{
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    font-weight: 700;
}

a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

ul{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.main-body{
    background: url("../img/Layer.jpg") center top no-repeat;
    background-size: cover;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container{
    width:950px;
    margin: 0 auto;
}

.navigation-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navigation-list li{
    cursor: pointer;
}

.navigation-list-elem a{
    display: block;
    padding:25px 20px;
}

header a:hover,header a:focus{
    background-color: #242424;
}

.enter-to-site{
    max-width: 140px;
}

.enter-to-site a{
    padding: 25px 10px 25px 40px;
}

.enter-to-site a::before{
    content:"1 ";
}

/*Преимущества и лого*/
.main-logo img{
    display: block;
    margin: 60px auto 80px auto;
}

.advantages-wrapper{
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 85px;
}

.advantages-elem{
    text-align: center;
}

.advantages-elem-title{
    position: relative;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 60px;
}

.advantages-elem-title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    margin-left: -10px;
}

.advantages-elem-text{
    font-size: 14px;
    line-height: 24px;
}
/*Преимущества и лого*/

.info-block{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/layer-info-blog.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    margin-bottom: 65px;
    padding: 50px 80px;
}

.vertical-line{
    position: absolute;
    height: 55%;
    width: 1px;
    left: 50%;
    top: 25%;
    border-right: 1px solid rgba(202,202,202,0.6);
    box-shadow: 0px 0px 3px rgba(202,202,202,0.6);
}

.info-block h2{
    font-size: 30px;
    font-weight: 700;
}

.info-block-news-wrapper{
    max-width: 80%;
    margin: 25px 0px;
}

.info-block-news-wrapper p{
    font-size: 14px;
    font-weight: 700;
}

.news-text{
    line-height: 24px;
    margin: 0;
}

.news-date{
    margin-top: 15px;
    text-transform: lowercase;
}

.button-container{
    display: inline-block;
    background-color: #000000;
    border:none;
    color:#ffffff;
    text-transform: uppercase;
    font-family: pt-sans;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
}

.button-container:hover, .button-container:active{
    background-color: #663d15;
}

.gallery-wrapper{
    background-color: #fff;
    border: 7px solid #ffffff;
    box-sizing: border-box;
}

.gallery-wrapper img{
    max-width: 290px;
    height: 175px;
    cursor: pointer;
}

.gallery-button{
    margin-top: 40px;
    justify-content: space-between;
}

.gallery-button button{
    padding: 15px 55px;
}

.info-block-contacts{
    max-width: 80%;
}

.contact-info p{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 35px;
}

.contacts-button{
    justify-content: space-between;
    margin-top: 30px;
}

.info-block-appointment{
    max-width: 40%;
}

.appointment-info{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
}

.form-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-wrapper label{
    margin-bottom: 15px;
}

.form-wrapper p{
    margin: 0 0 13px 15px;
    font-size: 14px;
    font-weight: 700;
}

.form-wrapper input{
    border: 2px solid #000000;
    box-sizing: border-box;
    width: 140px;
    height: 45px;
    background-color: rgba(0,0,0,0);
    padding-left: 15px;
    outline:none;
    font-size:14px;
    font-family: pt-sans;
    color: rgba(0, 0, 0, 0.702);
    font-weight:700;
}

.form-wrapper input::-webkit-input-placeholder{
    font-size:14px;
    font-family: pt-sans;
    color: rgba(0, 0, 0, 0.702);
    font-weight:700;
    }
.form-wrapper input::-moz-placeholder{
    font-size:14px;
    font-family: pt-sans;
    color: rgba(0, 0, 0, 0.702);
    font-weight:700;
    }
.form-wrapper input:-ms-input-placeholder{
    font-size:14px;
    font-family: pt-sans;
    color: rgba(0, 0, 0, 0.702);
    font-weight:700;
    }
.form-wrapper input::-ms-input-placeholder{
    font-size:14px;
    font-family: pt-sans;
    color: rgba(0, 0, 0, 0.702);
    font-weight:700;
    }
.form-wrapper input::placeholder{
    font-size:14px;
    font-family: pt-sans;
    color: rgba(0, 0, 0, 0.702);
    font-weight:700;
    }

.button-submit{
    margin-top: 5px;
    width:100%;
}

footer{
    background-color: #242424;
    color:#ffffff;
    font-weight: 700;
    font-size:14px;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer .flex-container{
    position: relative;
    align-items: baseline;
    justify-content: space-between;
}

.footer-info p{
    line-height: 24px;
}

.footer-info a{
    text-decoration: underline;
}

footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.socials-block li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 45px;
    width: 45px;
}

.developer-info p{
    text-align: center;
}

.dev-info{
    background-color: #000000;
    cursor: pointer;
}

.footer-socials{
    position: absolute;
    left: 50%;
    width: 145px;
}

.footer-socials p{
    text-align: center;
}

.dev-info p{
    margin: 0;
    padding: 15px;
}

